# GNU coreutils
PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"

# GNU findutils
PATH="/usr/local/opt/findutils/libexec/gnubin:$PATH"

# bat as a cat replacement
alias cat='bat -p --theme="Solarized (dark)"'
 
# lsd as a ls replacement
alias ls='lsd'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

# neovim as a vi and vim replacment
alias vim='nvim'
alias vi='nvim'

