# GNU coreutils
PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"

# GNU findutils
PATH="/usr/local/opt/findutils/libexec/gnubin:$PATH"

# bat as a cat replacement
alias cat="bat -p"

# use bat to colorize manpages
export MANPAGER="sh -c 'col -bx | bat -l man -p'"
 
# lsd as a ls replacement
alias ls="lsd"
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -la"
alias lt="ls --tree"

# pyenv to manage python versions
eval "$(pyenv init --path)"
eval "$(pyenv init -)"
