# set path
export PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/syno/sbin:/usr/syno/bin:/usr/local/sbin:/usr/local/bin

# set prompt
export PS1="%B%n@%m%b:%~$ "

# bat as a cat replacement
alias cat="bat -p"

# exa as a ls replacement
alias ls="exa"
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -la"
alias lt="ls --tree"
